.container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0;
}

.center {
  grid-column: 2 / 10;
}

.left {
  grid-column: 1 / 2;
}

.right {
  grid-column: 10 / 11;
}

.aboutMe {
  grid-column: 3 / 8;
}

.experience {
  grid-column: 4 / 9;
}

.projects {
  grid-column: 3 / 9;
  margin-top: 15rem;
}

.contact {
  grid-column: 3 / 9;
}

.footer {
  grid-column: 4 / 8;
}

@media screen and (max-width: 1500px) {
  .aboutMe {
    grid-column: 3 / 9;
  }

  .experience {
    grid-column: 4 / 10;
  }

  .projects {
    grid-column: 3 / 9;
  }

  .contact {
    grid-column: 2 / 10;
  }
}

@media screen and (max-width: 1000px) {
  .experience {
    grid-column: 3 / 10;
  }

  .projects {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .center {
    grid-column: 1 / 11;
  }
  .left {
    grid-column: 2 / 10;
    /* display: none; */
  }

  .right {
    grid-column: 11 / 11;
    display: none;
  }

  .aboutMe {
    grid-column: 2 / 10;
  }

  .experience {
    grid-column: 2 / 10;
  }

  .projects {
    grid-column: 2 / 10;
    margin-top: 3rem;
  }
  .footer {
    grid-column: 1 / 11;
  }
}

/* @media screen and (max-width: 420px) {
  .container {
    row-gap: 5rem;
  }
}
*/
@media screen and (max-width: 321px) {
  .aboutMe {
    margin-top: 10rem;
  }
  .experience {
    margin-top: 5rem;
  }
}
